<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decor.css') }}">
</head>
<header>
    <h2>Current Page: {{ page_name }}</h2>
    {% if userName != None %}
    <h1>
        Hello {{userName}}
    </h1>
    <br>
    {% endif %}
    <div class="Pages" id="Headers">
        <a href="{{ url_for('home') }}">
            <h3>Home Page</h3>
        </a>
        <a href="{{ url_for('cv') }}">
            <h3>CV Page</h3>
        </a>
        <a href="{{ url_for('form') }}">
            <h3>Form Page</h3>
        </a>
        <a href="{{ url_for('hobbies') }}">
            <h3>Hobbies</h3>
        </a>
        <a href="{{ url_for('exercise9') }}">
            <h3>Assignment 9</h3>
        </a>
        <a href="{{ url_for('assignment10.exercise10') }}">
            <h3>Assignment 10</h3>
        </a>
        <a href="{{ url_for('assignment10.users') }}">
            <h3>Assignment 11 Users</h3>
        </a>
        <a href="{{ url_for('assignment10.req_frontend') }}">
            <h3>Assignment 11 Frontend</h3>
        </a>
        <a href="{{ url_for('assignment10.req_backend') }}">
            <h3>Assignment 11 Backend</h3>
        </a>
    </div>
</header>